.u-section-1 .u-sheet-1 {
  min-height: 1434px;
}

.u-section-1 .u-text-1 {
  width: 311px;
  font-style: italic;
  text-decoration: underline !important;
  margin: 99px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 75px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 655px;
  background-image: url("images/6477min2.jpg");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-1 .u-text-2 {
  margin: 30px 200px 0 13px;
}

.u-section-1 .u-text-3 {
  margin: 0 -13px 0 13px;
}

.u-section-1 .u-text-4 {
  margin: 18px 200px 0 13px;
}

.u-section-1 .u-text-5 {
  margin: 20px -13px 0 13px;
}

.u-section-1 .u-text-6 {
  margin: 14px 215px 0 13px;
}

.u-section-1 .u-text-7 {
  margin: 16px -13px 0 13px;
}

.u-section-1 .u-text-8 {
  margin: 5px 215px 0 13px;
}

.u-section-1 .u-text-9 {
  margin: 20px 160px 0 13px;
}

.u-section-1 .u-text-10 {
  margin: 20px 221px 0 13px;
}

.u-section-1 .u-text-11 {
  margin: 0 125px 0 13px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1130px;
  margin: 18px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 429px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-1 .u-group-1 {
  min-height: 359px;
  background-image: none;
  box-shadow: 0 0 40px 0 rgba(64,64,64,0.25);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 94px;
  width: 94px;
  margin: 34px auto 0 0;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  line-height: 1.7;
  font-size: 1.125rem;
  margin: -53px -3px 0 16px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 352px;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-1 .u-text-13 {
  text-transform: none;
  font-weight: 700;
  font-size: 3rem;
  margin: 12px 0 0;
}

.u-section-1 .u-line-1 {
  width: 133px;
  height: 3px;
  transform-origin: left center;
  margin: 35px auto 0 0;
}

.u-section-1 .u-text-14 {
  margin: 35px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 801px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -49px auto 30px 211px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1530px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 187px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -86px;
  }

  .u-section-1 .u-image-1 {
    min-height: 772px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 184px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 184px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 148px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: 70px;
    margin-top: -175px;
    margin-right: 183px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 144px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    width: 70px;
    margin-right: 183px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 109px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 357px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 293px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 701px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 111px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1305px;
  }

  .u-section-1 .u-image-1 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 147px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 147px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 146px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 107px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 146px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 72px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -57px;
    margin-left: 481px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1523px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 389px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 226px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -7px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 68px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 92px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -91px;
    margin-right: 450px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 450px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -358px;
    margin-left: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1277px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 145px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -70px;
  }

  .u-section-1 .u-image-1 {
    min-height: 142px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -12px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 5px;
    margin-right: 250px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 250px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -382px;
    margin-left: 101px;
  }
}