.u-section-1 .u-sheet-1 {
  min-height: 912px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  width: 393px;
  margin: 26px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 757px;
  width: 1034px;
  margin: 46px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: none;
  background-image: none;
  text-decoration: underline !important;
  margin: 0 94px;
}

.u-section-1 .u-shape-1 {
  width: 603px;
  height: 602px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 26px auto 0;
}

.u-section-1 .u-text-3 {
  margin: -568px 80px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 68px 80px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 68px 80px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 66px 80px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 66px 80px 0;
}

.u-section-1 .u-line-1 {
  width: 814px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -318px auto 0;
}

.u-section-1 .u-line-2 {
  width: 814px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 90px auto 0;
}

.u-section-1 .u-line-3 {
  width: 814px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 88px auto 0;
}

.u-section-1 .u-line-4 {
  width: 814px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 90px auto 0;
}

.u-section-1 .u-line-5 {
  width: 814px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 164px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
  background-image: none;
  margin: 15px 80px 0 auto;
  padding: 9px 32px 10px 31px;
}

.u-section-1 .u-text-8 {
  margin: -536px 487px 0 95px;
}

.u-section-1 .u-text-9 {
  background-image: none;
  animation-duration: 1000ms;
  margin: 68px 487px 0 95px;
}

.u-section-1 .u-text-10 {
  background-image: none;
  animation-duration: 1000ms;
  margin: 66px 487px 0 95px;
}

.u-section-1 .u-text-11 {
  background-image: none;
  animation-duration: 1000ms;
  line-height: 1.6;
  margin: 68px 487px 0 95px;
}

.u-section-1 .u-text-12 {
  background-image: none;
  animation-duration: 1000ms;
  line-height: 1.6;
  margin: 67px 487px 0 95px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: -642px auto 0 0;
  padding: 9px 10px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0 auto 0 0;
  padding: 9px 10px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0 auto 60px 0;
  padding: 9px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-bottom: 17px;
    width: 940px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1291px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -732px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -578px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-line-1 {
    width: 880px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -533px;
    margin-right: 625px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 440px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 440px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 440px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 440px;
    margin-left: 48px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -514px;
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 660px;
  }

  .u-section-1 .u-line-2 {
    width: 660px;
  }

  .u-section-1 .u-line-3 {
    width: 660px;
  }

  .u-section-1 .u-line-4 {
    width: 660px;
  }

  .u-section-1 .u-line-5 {
    width: 660px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 268px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 268px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 268px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 268px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 268px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-line-1 {
    width: 520px;
  }

  .u-section-1 .u-line-2 {
    width: 520px;
  }

  .u-section-1 .u-line-3 {
    width: 520px;
  }

  .u-section-1 .u-line-4 {
    width: 520px;
  }

  .u-section-1 .u-line-5 {
    width: 520px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 128px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 128px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 128px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 128px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    width: 320px;
  }

  .u-section-1 .u-line-2 {
    width: 320px;
  }

  .u-section-1 .u-line-3 {
    width: 320px;
  }

  .u-section-1 .u-line-4 {
    width: 320px;
  }

  .u-section-1 .u-line-5 {
    width: 320px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 790px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: none;
  text-decoration: underline !important;
  margin: 50px 194px 0 160px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1031px;
  margin: -26px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 599px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 292px;
  margin-top: 124px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 599px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 27px;
}

.u-section-2 .u-text-2 {
  margin: 22px 115px 0 6px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 72px 115px 0 6px;
}

.u-section-2 .u-text-4 {
  margin: 72px 115px 0 6px;
}

.u-section-2 .u-text-5 {
  margin: 72px 115px 0 6px;
}

.u-section-2 .u-line-1 {
  width: 511px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -241px auto 0;
}

.u-section-2 .u-line-2 {
  width: 511px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 94px auto 0;
}

.u-section-2 .u-line-3 {
  width: 511px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 94px auto 0;
}

.u-section-2 .u-line-4 {
  width: 511px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 168px auto 0;
}

.u-section-2 .u-text-6 {
  background-image: none;
  animation-duration: 1000ms;
  line-height: 1.6;
  margin: -403px 118px 0 23px;
}

.u-section-2 .u-text-7 {
  background-image: none;
  animation-duration: 1000ms;
  line-height: 1.6;
  margin: 72px 118px 0 23px;
}

.u-section-2 .u-text-8 {
  background-image: none;
  animation-duration: 1000ms;
  line-height: 1.6;
  margin: 72px 118px 0 23px;
}

.u-section-2 .u-text-9 {
  background-image: none;
  animation-duration: 1000ms;
  line-height: 1.6;
  margin: 72px 118px 0 23px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
  background-image: none;
  margin: 33px 10px 0 auto;
  padding: 9px 32px 10px 31px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 74px;
    margin-right: 94px;
    margin-left: 60px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    min-height: 362px;
    margin-bottom: 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-2 .u-image-1 {
    height: 263px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 546px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 486px;
  }

  .u-section-2 .u-line-2 {
    width: 486px;
  }

  .u-section-2 .u-line-3 {
    width: 486px;
  }

  .u-section-2 .u-line-4 {
    width: 486px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 94px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 94px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 94px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 94px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 418px;
  }

  .u-section-2 .u-image-1 {
    height: 192px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-line-1 {
    width: 372px;
  }

  .u-section-2 .u-line-2 {
    width: 372px;
  }

  .u-section-2 .u-line-3 {
    width: 372px;
  }

  .u-section-2 .u-line-4 {
    width: 372px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    min-height: 556px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 649px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    min-height: 354px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 409px;
  }

  .u-section-2 .u-image-1 {
    height: 214px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }

  .u-section-2 .u-line-3 {
    width: 340px;
  }

  .u-section-2 .u-line-4 {
    width: 340px;
  }
}