.u-section-1 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: none;
  text-decoration: underline !important;
  margin: 74px 194px 0 160px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 136px auto 0 0;
  padding: 9px 10px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 925px;
  margin: -185px 86px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 599px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 258px;
  margin-top: 158px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.875rem;
  margin: -170px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 599px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 27px;
}

.u-section-1 .u-form-1 {
  height: 433px;
  margin: 12px auto 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  text-transform: none;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  text-transform: none;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  text-transform: none;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-input-4 {
  text-transform: none;
}

.u-section-1 .u-btn-3 {
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: none;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: -413px auto 0 0;
  padding: 9px 10px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0 auto 0 0;
  padding: 9px 10px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 245px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 94px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -88px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 362px;
    margin-top: 39px;
    margin-right: 15px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
  }

  .u-section-1 .u-form-1 {
    width: 486px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -610px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 192px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -104px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1290px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 143px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    min-height: 556px;
    margin-top: -192px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 347px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -259px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    min-height: 354px;
  }

  .u-section-1 .u-image-1 {
    height: 214px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -126px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}