.u-section-1 .u-sheet-1 {
  min-height: 620px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 52px 463px 0 301px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 114px 1041px 0 0;
  padding: 9px 10px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0 auto 0 0;
  padding: 9px 10px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1031px;
  margin: -241px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 502px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 424px;
  width: 365px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 502px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 27px;
}

.u-section-1 .u-form-1 {
  height: 433px;
  width: 532px;
  margin: 12px auto 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  text-transform: none;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  text-transform: none;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  text-transform: none;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-input-4 {
  text-transform: none;
}

.u-section-1 .u-btn-3 {
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1298px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 363px;
    margin-left: 350px;
    width: 216px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 841px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    min-height: 362px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-1 .u-form-1 {
    width: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 253px;
    margin-left: 268px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 621px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-1 .u-image-1 {
    height: 335px;
    width: 288px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1290px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 163px;
    margin-left: 201px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 441px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    min-height: 556px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 545px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 127px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 241px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    min-height: 354px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  width: 81px;
  margin: 20px auto 60px;
}